doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    //- meta(http-equiv='Content-Security-Policy', content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src *;")
    title Syncron
    link(rel='stylesheet', href='./styles/compiledStyles/main.css', type='text/css')
    link(rel='stylesheet', href='./styles/compiledStyles/createJob.css', type='text/css')
    link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather:ital,wght@1,700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    #application
    script.
      require('./renderer');
